html, body
    background white

#landingButton
    text-align center
    margin-top 40px
    margin-bottom 100px

#landingImageDiv
	text-align center

#landingParagraphDiv
	margin-top 15px

#beginSubmitButton
    margin-top 20px

#fbLoginContainer
	text-align center

	& > h3
		margin-bottom 40px

.submitButtonContainer
	text-align center
